[submodule "node/core/reconstruct/submodules/diff-gaussian-rasterization"]
	path = node/core/reconstruct/submodules/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
