# 在 .gitignore 文件中，可以使用以下通配符：

# *：匹配任何数量的字符，但不包括 /。例如，*.log 会忽略所有 .log 文件。

# ?：匹配任何单个字符，除了 /。例如，?.log 会匹配 a.log 但不会匹配 any.log。

# **：在路径的任何部分中匹配任何数量的目录或子目录。例如，**/foo 会匹配 foo、a/foo、a/b/foo 等。

# []：匹配方括号中的任何一个字符。例如，[abc].log 会匹配 a.log、b.log 和 c.log。

# !：否定符号，表示不忽略匹配的文件或目录。例如，!important.log 会跟踪名为 important.log 的文件，即使之前的规则使其被忽略。

# /：如果在模式的开始处，表示模式只适用于项目根目录下的文件和目录。例如，/foo 会匹配 foo 但不会匹配 a/foo。如果在模式的结束处，表示模式只适用于目录。例如，foo/ 会匹配目录 foo 和其内的所有文件，但不会匹配文件或符号链接 foo。

__pycache__
*.db
**/storage/**
*.env
../__pycache__
.vscode/
.pytest_cache
__pycache__/
app/core/reconstruct/submodules/diff-gaussian-rasterization
todo.md
node_modules
